.product-container {
  display: grid;
  text-align: center;
  grid-gap: 20px;
  /* padding: 10px; */
  width: 90%;
  margin: auto;
}

@media (min-width: 600px) {
  .product-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 768px) {
  .product-container {
    grid-template-columns: repeat(4, auto);
  }
}
@media (min-width: 991px) {
  .product-container {
    grid-template-columns: repeat(5, auto);
  }
}
